---
layout: default
---
{% include _nav_stat.html %}
<!--{% include stat_menu.html %}-->
<style>
p { margin: 10px 0px 0px 0px; }
table thead { color: white; }
</style>
<h1>{{ page. title }}</h1>

<strong>Date:</strong> {{ site.data.civil.metadata.date }}

{{content}}
