<nav>
  <div id="logo"><img src="/favicon.ico" height="40" alt="ddi"/></div>
  <label for="drop"class="toggle">Copil</label>
  <input type="checkbox" id="drop" />
  <ul class="menu">
    <li><a href="{% link assets/pdf/200703-copil-apres.pdf %}">3 juillet 2020</a></li>
    <li><a href="{% link assets/pdf/210312-copil-apres.pdf %}">12 mars 2021</a></li>
  </ul>
</nav>
