<nav>
  <div id="logo"><img src="/favicon.ico" height="40" alt="ddi"/></div>
  <label for="drop"class="toggle">Membres</label>
  <input type="checkbox" id="drop" />
  <ul class="menu">
    <li><a href="{% link ddi.md %}">Tous</a></li>
    <li>
      <label for="drop-1" class="toggle2">Cpte</label>
      <input type="checkbox" id="drop-1" />
      <ul>
        <li><a href="{% link ddi-ds4h.md %}">DS4H</a></li>
        <li><a href="{% link ddi-iut.md %}">IUT</a></li>
        <li><a href="{% link ddi-pns.md %}">PNS</a></li>
      </ul>
    </li>
    <li>
      <label for="drop-2"class="toggle2">EPST</label>
      <input type="checkbox" id="drop-2" />
      <ul>
       <li><a href="{% link ddi-cnrs.md %}">CNRS</a></li>
       <li><a href="{% link ddi-inria.md %}">INRIA</a></li>
       <li><a href="#">OCA</a></li>
      </ul>
    </li>
  </ul>
</nav>
