<nav>
  <div id="logo"><img src="/favicon.ico" height="40" alt="ddi"/></div>
  <label for="drop"class="toggle">Statistiques</label>
  <input type="checkbox" id="drop" />
  <ul class="menu">
    <li><a href="{% link genre.md %}">Par genres</a></li>
    <li><a href="{% link demographie.md %}">Démographie</a></li>
    <li><a href="{% link stats/hc-ose-2019.md %}">Charge</a></li>
  </ul>
</nav>
