@charset "utf-8";
/* TOC – Typography

Check typography variables › _3_typography_settings.scss

- Links
- Customize Foundation Typography
- Headlines
- Images
- Lists
- Tables
- Code
- Quotes
- Typography for Articles
- Smaller Fontsize for Bigteaser on small devices
- Additional typographical elements
- Footnotes
- Icon Font

*/



/* Links
------------------------------------------------------------------- */

a,
a:link {
    transition: all .4s;
}

a:visited {
    border-bottom: $grey-2;
}

a:hover {
    color: darken( $ci-1, 10% );
}

a:focus {
    color: lighten( $ci-1, 20% );
}

a:active {
    color: darken( $ci-1, 20% );
}



/* Customize Foundation Typography
------------------------------------------------------------------- */

p {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    -ms-word-break: normal;
    /* Non standard for webkit */
    word-break: normal;
    text-align: justify;
}
//p a,
article a {
    font-weight: bold;
    border-bottom: 1px dotted;
}
//p a:hover,
article a:hover {
    border-bottom: 2px solid;
}
p a.button,
.button,
.button:hover {
    border: 0;
    color: #fff;
}
p.button a {
    border: 0;
    color: #fff;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}



/* Headlines
------------------------------------------------------------------- */

h1, h2, h3, h4, h5, h6 {
    font-family: $header-font-family;
    font-weight: 700;
    padding: 0;
}

h1 {
    font-size: $font-size-h1;
    margin-top: 0;
}
h2 {
    font-size: $font-size-h2;
    margin: 10px 0 5px 0;
    color: #0096bc;
}
    .blog-index h2 {
        margin-top: 0;
    }
h3 {
    font-size: $font-size-h3;
    margin: 1.152em 0 0 0;
}
h4 {
    font-size: $font-size-h4;
    margin: 1.152em 0 0 0;
}
h5 {
    font-size: $font-size-h5;
    margin: 1em 0 0 0;
}



/* Images
------------------------------------------------------------------- */

img { border-radius: $global-radius;}
    img.alignleft,
    img.left        { float: left; margin:5px 15px 5px 0; }
    img.alignright,
    img.right       { float: right; margin:5px 0 5px 15px; }
    img.aligncenter,
    img.center      { display: block; margin:0 auto 10px; }

figure {
    margin: 0 0 rem-calc(30) 0;
}
#masthead-with-background-color figure,
#masthead-with-pattern figure {
    margin: 0;
}
figcaption,
.masthead-caption {
    color: $grey-10;
    font-family: $font-family-sans-serif;
    font-size: rem-calc(13);
    padding-top: rem-calc(2);
}
figcaption a,
.masthead-caption a {
    border-bottom: 1px dotted $grey-4;
    color: $grey-10;
}
figcaption a:hover,
.masthead-caption a:hover {
    border-bottom: 2px solid $primary-color;
    color: $primary-color;
}
.masthead-caption {
    padding-right: 10px;
    text-align: right;
}



/* Tables
------------------------------------------------------------------- */

td {
    vertical-align: top;
}



/* Code
From https://github.com/Phlow/feeling-responsive/issues/156
------------------------------------------------------------------- */
$code-border: 3px ridge transparentize($primary-color, 0.5);
pre {
    margin-bottom: rem-calc(20);
    padding: rem-calc(4) rem-calc(7) rem-calc(3) rem-calc(4);
    border-radius: $global-radius;
    line-height: 1.2;
    max-height: 350px;
    @if variable-exists(this-code-color) {
        color: $this-code-color;
    }
    @else {
        color: $code-color;
    }
    @if variable-exists(this-code-background-color) {
        background-color: $this-code-background-color;
        .alert-box & {
            background-color: opacify($this-code-background-color, 0.3);
        }
    }
    @else {
        background-color: $code-background-color;
        .alert-box & {
            background-color: opacify($code-background-color, 0.3);
        }
    }
    &:active {
        //max-height: none; // TODO annoying and impossible to scroll
    }
    @media not print {
        border: $code-border;
    }
    @media print {
      max-height: none;
      code {
        white-space: pre-wrap;
      }
    }

    code {
        border: 0;
        padding: 0;
        line-height: 1.2;
        font-size: rem-calc(14);
        background: transparent;
        box-shadow: none;
        color: inherit;
        text-shadow: none;
    }

    &::-webkit-scrollbar {
        height: 12px;
        width: 12px;
        @if variable-exists(this-code-background-color) {
            background: lighten($this-code-background-color, 10%);
        }
        @else {
            background: lighten($code-background-color, 10%);
        }
    }

    &::-webkit-scrollbar-thumb {
        background: darken($primary-color, 40%);
        @media print {
            background: rgba(black, 0.3);
        }
        background-clip: padding-box;
        border-radius: 1ex;
        border: 2px solid transparent;
    }

    &::-webkit-scrollbar-corner {
        background: transparent;
    }
}

.highlight.debug code {
  white-space: pre-wrap;
}

.highlight[title]::before, .highlighter-rouge[title]::before {
    content: attr(title);
    text-align: center;
    display: block;
    border: $code-border;
    @media print {
        border: 1px solid $aluminum !important; // from _type > @print > pre
    }
    background-color: transparentize($primary-color, 0.8);
    color: $primary-color;
    border-bottom: none;
}

code, var {
    padding: rem-calc(1.5) rem-calc(2) rem-calc(0.5) rem-calc(2);
    font-style: normal;
    letter-spacing: rem-calc(-0.5);
    // use em instead of rem to make sure inline code in headings is relative
    font-size: 0.875em;
    // disable shadow inside alert-box
    text-shadow: none;
}

kbd {
    text-shadow: 1px 1px 3px white;
}

code.highlighter-rouge {
    background-color:transparent;
    color:black;
    border-style: none;    
}



/* Lists
------------------------------------------------------------------- */

ul, ol {
    margin-left: 20px;
    padding: 0;
}
li {
    margin-left: 0;
}

.no-bullet {
    list-style: none;
    margin-left: 0;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}

dl {

}
dt:first-child {
    padding-top: 0px;
}
dt {
    font-weight: bold;
    padding-top: 30px;
}
dd {
}
article dl dt   { line-height: 1.3; }
article dl dd   { line-height: 1.6; margin-bottom: rem-calc(12); margin-left: rem-calc(24); }

/* Reduce spacing between paragraphs and lists */
p + ul {
    margin-top: .5rem;
}

p + ol {
    margin-top: 1rem;
} 

/* Quotes
------------------------------------------------------------------- */

blockquote {
    font-style: italic;
    position: relative;
    border: none;
    margin: 0 30px 30px 30px;
    color:  $grey-11;
}

    blockquote p {font-style: italic; color: $grey-10; }

    blockquote:before {
        display:block;content:"\00BB";
        font-size:80px;
        line-height: 0;
        position:absolute;
        left:-25px;
        top: auto;
        color: $grey-11;
    }
    blockquote:after {
        display:block;
        content:"\00AB";
        font-size:80px;
        line-height: 0;
        position:absolute;
        right:-10px;
        bottom: 20px;
        color: $grey-11;
    }
    blockquote cite:before {
        content:"\2014 \0020"
    }
    blockquote cite a,blockquote cite a:visited {
        color: $grey-10;
    }
cite {
    padding-top: 5px;
}

button, .button {
    letter-spacing: 1px;
}

mark {
    background-color: scale-color($warning-color, $lightness: 60%);
}



/* Typography for Articles
------------------------------------------------------------------- */

.subheadline {
    font-size: rem-calc(16);
    margin: 0;
    text-transform: uppercase;
}
.teaser {
    font-size: rem-calc(20);
}
.big-teaser {
    font-style: italic; font-weight: 300;
}
.big-teaser a {
    font-style: italic; font-weight: 400;
}

/* Smaller Fontsize for Bigteaser on small devices */
@media only screen {
    .big-teaser {
        font-size: rem-calc(20);
    }
}
@media only screen and (min-width: 40.063em) {
    .big-teaser         {
        font-size: rem-calc(29);
    }
}



/* Additional typographical elements
------------------------------------------------------------------- */

.sans           { font-family: $font-family-sans-serif; }
.serif          { font-family: $font-family-serif; }

.font-size-h1   { font-size: $font-size-h1; }
.font-size-h2   { font-size: $font-size-h2; }
.font-size-h3   { font-size: $font-size-h3; }
.font-size-h4   { font-size: $font-size-h4; }
.font-size-h5   { font-size: $font-size-h5; }
.font-size-p    { font-size: $font-size-p; }



/* Footnotes
------------------------------------------------------------------- */

.footnotes:before {
    content: "";
    position: absolute;
    height: 1px;
    width: 60px;
    margin-top: -10px;
    border-bottom: 1px solid $grey-2;
}
.footnotes {
    margin-top: 60px;
}
.footnotes ol {
    font-size: $font-size-small;
}
.footnotes p {
    font-size: inherit;
    margin-bottom: 0;
}




/* Icon Font
   See the icon-set/preview in /assets/fonts/iconfont-preview.html
------------------------------------------------------------------- */

@font-face {
    font-family: "iconfont";
    src: url("../fonts/iconfont.eot");
    src: url("../fonts/iconfont.eot?#iefix") format("embedded-opentype"),
         url("../fonts/iconfont.woff2") format("woff2"),
         url("../fonts/iconfont.woff") format("woff"),
         url("../fonts/iconfont.ttf") format("truetype"),
         url("../fonts/iconfont.svg#iconfont") format("svg");
    font-weight: normal;
    font-style: normal;
}

.iconfont {
    font-family: iconfont;
}
  
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "iconfont";
    src: url("../fonts/iconfont.svg#iconfont") format("svg");
  }
}
  
[data-icon]:before { content: attr(data-icon); }
  
[data-icon]:before,
.icon-alarm:before, 
.icon-archive:before, 
.icon-attention:before, 
.icon-back-in-time:before, 
.icon-blackboard:before, 
.icon-browser:before, 
.icon-calendar:before, 
.icon-camera:before, 
.icon-cancel-circled:before, 
.icon-chat:before, 
.icon-check:before, 
.icon-chevron-down:before, 
.icon-chevron-left:before, 
.icon-chevron-right:before, 
.icon-chevron-up:before, 
.icon-cloud:before, 
.icon-code:before, 
.icon-cone:before, 
.icon-cog:before, 
.icon-comment:before, 
.icon-edit:before, 
.icon-export:before, 
.icon-eye:before, 
.icon-feather:before, 
.icon-globe:before, 
.icon-graduation-cap:before, 
.icon-heart:before, 
.icon-heart-empty:before, 
.icon-home:before, 
.icon-info:before, 
.icon-install:before, 
.icon-lab-flask:before, 
.icon-leaf:before, 
.icon-light-bulb:before, 
.icon-location:before, 
.icon-magnifying-glass:before, 
.icon-mail:before, 
.icon-megaphone:before, 
.icon-mic:before, 
.icon-minus-circled:before, 
.icon-network:before, 
.icon-open-book:before, 
.icon-paper-plane:before, 
.icon-plus-circled:before, 
.icon-price-tag:before, 
.icon-rocket:before, 
.icon-rss:before, 
.icon-star:before, 
.icon-star-empty:before, 
.icon-thumbs-up:before, 
.icon-thumbs-down:before, 
.icon-tree:before, 
.icon-trophy:before, 
.icon-upload-cloud:before, 
.icon-v-card:before, 
.icon-video:before, 
.icon-dropbox:before, 
.icon-facebook:before, 
.icon-github:before, 
.icon-google-play:before, 
.icon-google-plus:before, 
.icon-instagram:before, 
.icon-linkedin:before, 
.icon-paypal:before, 
.icon-pinterest:before, 
.icon-skype:before, 
.icon-soundcloud:before, 
.icon-tumblr:before, 
.icon-twitter:before, 
.icon-vimeo:before, 
.icon-xing:before, 
.icon-youtube:before {
  display: inline-block;
  font-family: "iconfont";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
  
.icon-alarm:before { content: '\e816'; }
.icon-archive:before { content: '\e81c'; }
.icon-attention:before { content: '\e812'; }
.icon-back-in-time:before { content: '\f101'; }
.icon-blackboard:before { content: '\f102'; }
.icon-browser:before { content: '\e820'; }
.icon-calendar:before { content: '\e81d'; }
.icon-camera:before { content: '\e801'; }
.icon-cancel-circled:before { content: '\e819'; }
.icon-chat:before { content: '\e815'; }
.icon-check:before { content: '\e800'; }
.icon-chevron-down:before { content: '\e805'; }
.icon-chevron-left:before { content: '\e806'; }
.icon-chevron-right:before { content: '\e80e'; }
.icon-chevron-up:before { content: '\e80f'; }
.icon-cloud:before { content: '\e822'; }
.icon-code:before { content: '\f121'; }
.icon-cone:before { content: '\e826'; }
.icon-cog:before { content: '\e82a'; }
.icon-comment:before { content: '\e814'; }
.icon-edit:before { content: '\e813'; }
.icon-export:before { content: '\e811'; }
.icon-eye:before { content: '\e829'; } 
.icon-feather:before { content: '\e823'; }
.icon-globe:before { content: '\e821'; }
.icon-graduation-cap:before { content: '\f10f'; }
.icon-heart:before { content: '\e808'; }
.icon-heart-empty:before { content: '\e809'; }
.icon-home:before { content: '\e81e'; }
.icon-info:before { content: '\e81f'; }
.icon-install:before { content: '\f111'; }
.icon-lab-flask:before { content: '\f112'; }
.icon-leaf:before { content: '\e824'; }
.icon-light-bulb:before { content: '\f126'; }
.icon-location:before { content: '\e817'; }
.icon-magnifying-glass:before { content: '\f114'; }
.icon-mail:before { content: '\e807'; }
.icon-megaphone:before { content: '\e82b'; }
.icon-mic:before { content: '\e818'; }
.icon-minus-circled:before { content: '\e804'; }
.icon-network:before { content: '\e81b'; }
.icon-open-book:before { content: '\f116'; }
.icon-paper-plane:before { content: '\e810'; }
.icon-plus-circled:before { content: '\e803'; }
.icon-price-tag:before { content: '\e80c'; }
.icon-rocket:before { content: '\e825'; }
.icon-rss:before { content: '\e81a'; }
.icon-star:before { content: '\e80a'; }
.icon-star-empty:before { content: '\e80b'; }
.icon-thumbs-up:before { content: '\e827'; }
.icon-thumbs-down:before { content: '\e828'; }
.icon-tree:before { content: '\f11b'; }
.icon-trophy:before { content: '\f11c'; }
.icon-upload-cloud:before { content: '\e80d'; }
.icon-v-card:before { content: '\f11e'; }
.icon-video:before { content: '\e802'; }

.icon-dropbox:before { content: '\f330'; }
.icon-facebook:before { content: '\f30e'; }
.icon-github:before { content: '\f300'; }
.icon-google-play:before { content: '\f10d'; }
.icon-google-plus:before { content: '\f30f'; }
.icon-instagram:before { content: '\f32d'; }
.icon-linkedin:before { content: '\f318'; }
.icon-paypal:before { content: '\f117'; }
.icon-pinterest:before { content: '\f312'; }
.icon-skype:before { content: '\f11a'; }
.icon-soundcloud:before { content: '\f348'; }
.icon-tumblr:before { content: '\f315'; } 
.icon-twitter:before { content: '\f11d'; }
.icon-vimeo:before { content: '\f306'; }
.icon-xing:before { content: '\e82c'; }
.icon-youtube:before { content: '\f11f'; } 


  
$font-iconfont-alarm: "\e816";
$font-iconfont-archive: "\e81c";
$font-iconfont-attention: "\e812";
$font-iconfont-back-in-time: "\f101";
$font-iconfont-blackboard: "\f102";
$font-iconfont-browser: "\e820";
$font-iconfont-calendar: "\e81d";
$font-iconfont-camera: "\e801";
$font-iconfont-cancel-circled: "\e819";
$font-iconfont-chat: "\e815";
$font-iconfont-check: "\e800";
$font-iconfont-chevron-down: "\e805";
$font-iconfont-chevron-left: "\e806";
$font-iconfont-chevron-right: "\e80e";
$font-iconfont-chevron-up: "\e80f";
$font-iconfont-cloud: "\e822";
$font-iconfont-code: "\f121";
$font-iconfont-cone: "\e826";
$font-iconfont-cog: "\e82a";
$font-iconfont-comment: "\e814";
$font-iconfont-edit: "\e813";
$font-iconfont-export: "\e811";
$font-iconfont-eye: "\e829"; 
$font-iconfont-feather: "\e823";
$font-iconfont-globe: "\e821";
$font-iconfont-graduation-cap: "\f10f";
$font-iconfont-heart: "\e808";
$font-iconfont-heart-empty: "\e809";
$font-iconfont-home: "\e81e";
$font-iconfont-info: "\e81f";
$font-iconfont-install: "\f111";
$font-iconfont-lab-flask: "\f112";
$font-iconfont-leaf: "\e824";
$font-iconfont-light-bulb: "\f126";
$font-iconfont-location: "\e817";
$font-iconfont-magnifying-glass: "\f114";
$font-iconfont-mail: "\e807";
$font-iconfont-megaphone: "\e82b";
$font-iconfont-mic: "\e818";
$font-iconfont-minus-circled: "\e804";
$font-iconfont-network: "\e81b";
$font-iconfont-open-book: "\f116";
$font-iconfont-paper-plane: "\e810";
$font-iconfont-plus-circled: "\e803";
$font-iconfont-rocket: "\e825";
$font-iconfont-rss: "\e81a";
$font-iconfont-star: "\e80a";
$font-iconfont-star-empty: "\e80b";
$font-iconfont-tag: "\e80c";
$font-iconfont-thumbs-up: "\e827";
$font-iconfont-thumbs-down: "\e828";
$font-iconfont-tree: "\f11b";
$font-iconfont-trophy: "\f11c";
$font-iconfont-upload-cloud: "\e80d";
$font-iconfont-v-card: "\f11e";
$font-iconfont-video: "\e802";

$font-iconfont-dropbox: "\f330";
$font-iconfont-facebook: "\f30e";
$font-iconfont-github: "\f300";
$font-iconfont-google-play: "\f10d";
$font-iconfont-google-plus: "\f30f";
$font-iconfont-instagram: "\f32d";
$font-iconfont-linkedin: "\f318";
$font-iconfont-paypal: "\f117";
$font-iconfont-pinterest: "\f312";
$font-iconfont-skype: "\f11a";
$font-iconfont-soundcloud: "\f348";
$font-iconfont-tumblr: "\f315"; 
$font-iconfont-twitter: "\f11d";
$font-iconfont-vimeo: "\f306";
$font-iconfont-xing: "\e82c";
$font-iconfont-youtube: "\f11f"; 
