// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)
.toggle,
[id^=drop] {
   display: none;
}
.toggle2 {
   display: block;
   font-weight: bold;
   position: fixed;
   left: 20px;
   color: rgb(0,126,161);
   text-orientation: mixed;
   writing-mode: vertical-rl;
}
nav {
  margin: 0;
  padding: 0;
  background-color: white;
  position: fixed;
  height: 100%; /* Full-height: remove this if you want "auto" height */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  width: 120pt;
}
 
#logo {
  display: block;
  padding: 0 30px;
  float: none;
  font-size: 20px;
  line-height: 60px;
}
#logo img{
  background-color: white;
}
nav:after {
  content:"";
  display: block;
  clear: both;
}
nav ul {
  float: right;
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
}

nav ul li {
  margin: 0px;
  display: block;
  float: right;
  background-color: white;
}

nav a { 
  display: block;
  padding: 14px 20px;
  color: rgb(0,175,215);
  font-size: 17px;
  text-decoration: none;
}

nav ul li ul li:hover { background: #000000; }

/* Background color change on Hover */
nav a:hover { 
    background-color: rgb(0,126,161); 
    color: white;
}

nav ul ul {
    display: table;
    border: 1px solid rgb(0,126,181);
    width: 90px;
}

nav ul li:hover > ul {
    display:inherit;
}

/* Fisrt Tier Dropdown */
nav ul ul li {
    width: 90px;
    float:right;
    display:table-row;
    position: relative;
}

nav ul ul li a {
   padding: 0px 20px;
}

nav li > a:after { content:  ' +'; }
nav li > a:only-child:after { content: ''; }

 /* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 200px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
  padding-left: 0px;
  text-decoration: none;
  color: #818181;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Style page content */
.main {
  margin-left: 200px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-width: 768px) {
  #logo {
    display: block;
    padding: 0;
    padding-top: 7px;
    width: 40px; 
    float: right;
  }
  h1 { margin-top: 30px; }
  nav { 
     margin: 0;
     width: 180px;
     height: 20px;
     position: block;
  }
  .menu { display: none; }

  .toggle {
     display: inline-block;
     padding: 14px 20px;
     background-color: rgb(0,126,161);
     color: white;
     font-size: 17px;
     text-decoration: none;
     border: none;
  }
  .toggle:hover {
     color: rgb(0,175,215);
  }
  [id^=drop]:checked + ul {
     display: block;
  }
  nav ul {
     display: block;
     width: 150px;
     float: left;
  }
  nav ul li {
     float: right;
     width: 150px;
  }
  nav ul ul { 
     margin-left: 20px;
  }

  /* Background color change on Hover */
  nav ul a {
    background-color: white; 
  } 
  nav a:hover { 
    background-color: black; 
  }
  div.content {margin-left: 0;}
  text {
    font-size: 10px; 
  }
} 
@media screen and (max-height: 400px) {
  nav ul li {
    display: block;
    width: 94%;
  }
}
