---
---

@import "jekyll-theme-minimal";
.uca-color-1 {
  font-family: "Apex New Bold";
  color: rgb(0,175,215);
}
.uca-color-2 {
  font-family: "Apex New Bold";
  color: rgb(0,150,188);
}
.uca-color-3 {
  font-family: "Apex New Bold";
  color: rgb(0,126,161);
}

h1 { color: rgb(0,175,215); }
h2 { color: rgb(0,150,188); margin-top: 10px; }
table { border: 1pt solid black; }
th { background-color: rgb(0,126,161); color: white; text-align:center;}
td { text-align:center;}
rect.female { fill: white; stroke: rgb(0, 126, 161); }
rect.male { fill: rgb(0, 126, 161); }
text.neutral { fill: black; }
text.female { fill: rgb(0, 126, 161); }
text.male { fill: white; }

@import "resp";
